*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

* {
  font-family: "Rubik", Arial, sans-serif;
  background-color: #101010;
  color: #f0f0f0;
  line-height: 1.4;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.wrapper {
  min-height: 100dvh;
  min-width: 320px;
  overflow: clip;
  display: flex;
  flex-direction: column;
  position: relative;
}

[class*=__container] {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
  /* 1210 + 15 + 15 */
  max-width: 1210px;
}

@keyframes ani {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.main {
  flex: 1 1 auto;
}

.lock {
  overflow: hidden;
}

/* -- HEADER -- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 22;
  color: #f0f0f0;
  transition: all 0.3s ease;
  border-bottom: 2px solid;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: all 0.2s ease;
}
.header__container.change {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 21;
}
.header__burger {
  z-index: 21;
  display: block;
  position: relative;
  width: 20px;
  height: 17px;
  cursor: pointer;
}
.header__burger span, .header__burger::before, .header__burger::after {
  content: "";
  left: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transition: all 0.2s ease;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger span {
  top: calc(50% - 1px);
}
.header__burger.active span {
  opacity: 0;
}
.header__burger.active::before {
  transform: rotate(45deg);
  top: calc(50% - 1px);
}
.header__burger.active::after {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.header__left-content {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}
.header__logo-img {
  width: 200px;
}
@media (max-width: 35.9988em) {
  .header__logo-img {
    display: none;
  }
}
.header__logo-mobile-img {
  display: none;
}
@media (max-width: 35.9988em) {
  .header__logo-mobile-img {
    display: block;
    width: 30px;
  }
}
.header__languages-content {
  display: flex;
  gap: 5px;
}
.header__modal {
  display: none;
  position: absolute;
  box-shadow: 0px 0px 5px #606060;
}
.header__modal.active {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  color: #101010;
  padding: 5px 5px;
  border-radius: 5px;
  gap: 5px;
}
.header__modal-item {
  transition: all 0.1s ease;
  padding: 5px;
  color: #f0f0f0;
}
.header__modal-item:hover {
  background-color: #606060;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 40px;
  z-index: 21;
}
@media (max-width: 35.9988em) {
  .header__right {
    gap: 10px;
  }
}
.header__right-content {
  position: relative;
}
.header__centre {
  font-size: 20px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__centre span {
  font-family: "Rubik", Arial, sans-serif;
}
@media (max-width: 47.9988em) {
  .header__centre span {
    display: none;
  }
}
.header__centre :first-child {
  margin-right: 5px;
}
@media (max-width: 47.9988em) {
  .header__centre img:last-child {
    display: none;
  }
}
.header__search {
  cursor: pointer;
}
.shell {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100dvh;
  background: #101010;
  padding: 150px 0px 30px 0px;
  transition: top ease 0.3s;
  display: none;
  scrollbar-color: white white;
  scrollbar-width: auto;
}
@media (max-width: 35.9988em) {
  .shell {
    padding: 140px 0px 30px 0px;
  }
}
.shell.active {
  display: block;
}
.shell__container {
  display: grid;
  gap: 40px;
  grid-auto-columns: 1fr;
  grid-template-areas: "one two three four";
  overflow-y: auto;
  position: relative;
}
@media (max-width: 61.9988em) {
  .shell__container {
    grid-template-areas: "one two" "three four";
    max-height: 70dvh;
  }
}
@media (max-width: 35.9988em) {
  .shell__container {
    grid-template-areas: "one" "two" "three" "four";
  }
}
.shell__column {
  gap: 20px;
}
.item-shell {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.item-shell__title-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-shell__title {
  font-size: 18px;
  transform: translate(0px);
  animation: ani 0.4s forwards;
  position: relative;
}
.item-shell__title a {
  font-family: "Rubik Mono One";
}
.item-shell__dropdown {
  display: none;
}
@media (max-width: 35.9988em) {
  .item-shell__dropdown {
    display: block;
    width: 15px;
    height: 15px;
    transition: all 0.2s ease;
  }
  .item-shell__dropdown img {
    width: 100%;
    height: 100%;
  }
  .item-shell__dropdown.active {
    transform: rotate(-180deg);
  }
}
@media (max-width: 35.9988em) {
  .item-shell__nav {
    display: none;
  }
  .item-shell__nav.active {
    display: block;
  }
}
.item-shell__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.item-shell__link {
  animation: ani 0.8s forwards;
}
@media (max-width: 35.9988em) {
  .item-shell__link {
    animation: ani 0.2s forwards;
  }
}

.column-1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  grid-area: one;
}

.column-2 {
  grid-area: two;
}

.column-3 {
  grid-area: three;
}

.column-4 {
  grid-area: four;
}

.modal {
  display: none;
  position: absolute;
  top: 40px;
  left: 0px;
  color: #101010;
  box-shadow: 0px 0px 5px #606060;
  z-index: 21;
  border-radius: 5px;
  padding: 15px;
}
.modal__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.modal__content-icon {
  margin-bottom: 10px;
}
.modal__content-text {
  margin-bottom: 10px;
}
.modal__content-additional-text {
  margin-top: 10px;
}
.header__centre:hover + .modal {
  display: block;
}

.numbers-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.numbers-modal__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.numbers-modal__title {
  color: #606060;
  font-size: 14px;
}
.numbers-modal__number {
  font-size: 22px;
}
.numbers-modal__info {
  font-size: 14px;
  color: #606060;
}

.shell-search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100dvh;
  background: #101010;
  padding: 150px 0px 30px 0px;
  transition: top ease 0.3s;
  display: none;
  z-index: -5;
}
.shell-search.active {
  display: block;
}
.shell-search__input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  font-size: 24px;
  padding: 20px;
  outline: none;
}

/* -- MAIN -- */
.main {
  padding-top: 160px;
  padding-bottom: 50px;
}
@media (max-width: 1210px) {
  .main {
    padding-top: calc(100px + 60 * (100vw - 320px) / 890);
  }
}
@media (max-width: 1210px) {
  .main {
    padding-bottom: calc(20px + 30 * (100vw - 320px) / 890);
  }
}
.main__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1210px) {
  .main__container {
    gap: calc(10px + 10 * (100vw - 320px) / 890);
  }
}
.main__title {
  font-size: 48px;
  font-size: 48px;
  line-height: 62px;
  font-family: "Rubik Mono One", Arial, sans-serif;
}
@media (max-width: 1210px) {
  .main__title {
    font-size: calc(24px + 24 * (100vw - 320px) / 890);
  }
}
@media (max-width: 1210px) {
  .main__title {
    line-height: calc(36px + 26 * (100vw - 320px) / 890);
  }
}
.main p {
  font-size: 18px;
  line-height: 26px;
}
@media (max-width: 1210px) {
  .main p {
    font-size: calc(14px + 4 * (100vw - 320px) / 890);
  }
}
@media (max-width: 1210px) {
  .main p {
    line-height: calc(20px + 6 * (100vw - 320px) / 890);
  }
}